<div class="card">
    <ng-container *ngIf="todos$ | async as data">
        <h1>Angular demo Todos</h1>
        <app-todo-form></app-todo-form>
        <!-- <p-listbox [options]="data" optionLabel="title" optionValue="This is a test"></p-listbox> -->
        <p-dataView
        #dv
        [value]="data"
        [paginator]="true"
        [rows]="3"
        layout="grid">
        <ng-template *ngFor="let todo of data" pTemplate="gridItem">
          <div class="p-col-12 p-md-4">
            <p-tag styleClass="p-mr-2" value="Primary">{{todo.title}}</p-tag>
            <div >
                DataView Component Item
            </div>
          </div>
        </ng-template>
      </p-dataView>

    </ng-container>
    
  </div>